rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() {
      return request.auth != null;
    }

    function isController() {
      return isAuthed() && request.auth.token.role == 'controller';
    }

    match /events/{eventId} {
      allow read: if true;
      allow create, update, delete: if isController();

      match /programItems/{itemId} {
        allow read: if true;
        allow create, update, delete: if isController();
      }

      match /runtime/{docId} {
        allow read: if true;
        allow create, update, delete: if isController();
      }
    }
  }
}

